body {
    font-family: Arial;
    text-align: center;
    background: #f2f2f2;
}


#produtos {
    display: flex;
    justify-content: center;
    gap: 20px;
}


.produto {
    background: white;
    padding: 20px;
    border-radius: 10px;
}


button {
    padding: 10px;
    cursor: pointer;
}

.card{
    width: 300px;
    background: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    transition: 0.3s;
}